<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Oui" />
    <meta name="Je suis" content="Moi" />
    <title>On est là</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header>
      <h1>Une page internet</h1>
      <nav>
        <ul>
          <li><a href="index.html">Accueil</a></li>
          <li><a href="page1.html">À propos</a></li>
          <li><a href="page2.html">Contact</a></li>
        </ul>
      </nav>
      <div class="language-option"><a href="#">FR</a> | <a href="#">EN</a></div>
    </header>

    <main>
      <section>
        <h2>Je sais pas </h2>
        <p>
          Je dis des trucs au pif.
        </p>
      </section>
      <section>
        <h2>Quoi dire</h2>
        <p>Vraiment</p>
      </section>
      <section>
        <h2>Galerie d'images</h2>
        <div class="image-gallery">
          <img src="images/PIA00271~thumb.jpg" alt="Neptune" />
          <img src="images/PIA02210~thumb.jpg" alt="Vénus" />
          <img src="images/as17-148-22727~thumb.jpg" alt="Terre" />
        </div>
      </section>
    </main>
<!--
    <footer>
      <p>Informations sur l'auteur</p>
      <img src="path/to/your/image.jpg" alt="Icone de l'auteur" />
    </footer>
    -->
  </body>
</html>
