<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Peut-être" />
    <meta name="Je suis" content="Moi" />
    <title>Sous-page 2</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header>
      <h1>Sous-page 2</h1>
      <nav>
        <ul>
          <li><a href="index.html">Retour à l'accueil</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Titre de la sous-page 2</h2>
        <p>Texte de la sous-page 2.</p>
        <div class="image-gallery">
          <img
            src="images/hubble-captures-vivid-auroras-in-jupiters-atmosphere_28000029525_o~medium.jpg"
            alt="Jupiter"
          />
          <img src="images/PIA00405~medium.jpg" alt="Moon" />
        </div>
        <a href="https://www.google.com">google</a>
      </section>
    </main>
    <!--
    <footer>
        <p>Informations sur l'auteur</p>
        <img src="path/to/your/image.jpg" alt="Icone de l'auteur">
    </footer>
    -->
  </body>
</html>
